package dummytest

import (
	"testing"
	"github.com/stretchr/testify/assert"
)

func TestFailing(t *testing.T) {
	assert.False(t, true)
}

func TestWithSubs(t *testing.T) {
	t.Run("failing", func(t *testing.T) {

	})

	t.Run("failing with println output", func(t *testing.T) {

	})
}
